<div class="container">
  <div class="parent" [class]="theme">
    <div class="location social">
      <mat-icon style="margin-right: 19px" svgIcon="custom_location"></mat-icon>
      <h4 class="social">San Francisco</h4>
    </div>
    <div class="website social">
      <mat-icon style="margin-right: 16px" svgIcon="custom_website"></mat-icon>
      <h4 class="social-website">https://github.blog</h4>
    </div>
  </div>
  <div class="parent" [class]="theme">
    <div class="twitter social-unavailable social">
      <mat-icon style="margin-right: 16px" svgIcon="custom_twitter"></mat-icon>
      <h4 class="social">Not Available</h4>
    </div>
    <div class="company social">
      <mat-icon style="margin-right: 16px" svgIcon="custom_company"></mat-icon>
      <h4 class="social">@github</h4>
    </div>
  </div>
</div>
