$primary: #0079ff;
$primary-hover: #60abff;
$dark-grey: #697c9a;
$dark-blue: #4b6a9b;
$black: #2b3442;
$grey: #f6f8ff;
$white: #fefefe;
$other-black: #222731;

$white-secondary: #ffffff;
$black-secondary: #141d2f;
$dark-blue-secondary: #1e2a47;
$dark-blue-third: #90a4d4;
